<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="<%= asset_path 'application.css' %>">

  <link rel="alternate" type="application/atom+xml" href="/feed">

  <meta name="referrer" content="always">
  <meta name="author" content="Javier Julio">
  <meta name="description" content="<%= description %>">

  <meta property="og:site_name" content="Blog" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= url %>" />
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%== yield_content :head %>
</head>
<body class="">
  <header class="app-header container animated fadeIn">
    <h1 class="logo">
      <a class="blog" href="/">blog</a>
    </h1>
  </header>

  <main role="main">
    <div class="container animated fadeInDown" id="js-pjax-container">
      <%== yield %>
    </div>
  </main>

  <footer class="app-footer">
    <%== yield_content :footer %>
  </footer>

  <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="<%= asset_path 'application.js' %>"></script>
</body>
</html>
